.cards-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  height: 100%;
  overflow-y: scroll; /* 스크롤 활성화 */
  scrollbar-width: 0.5vw; /* 스크롤 바 너비 설정 (Firefox) */
}

ul::-webkit-scrollbar {
  width: 0.5vw; /* 스크롤 바 너비 설정 (Chrome, Safari, Opera) */
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--orange); /* 스크롤 바 썸 색상 설정 */
  border-radius: 1vw; /* 스크롤 바 썸 둥근 모서리 설정 */
}

ul::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤 바 트랙 색상 설정 */
}


/* CardItem ---------------------------------------------------------------------------- */
.cardsitem-container {
  height: 3vw;
  width: 40vw;

  display: flex;
  align-items: center;
  /* 수직 정렬*/

  transition: all 0.3s ease;
}

.cardsitem-items-img {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  object-fit: cover;

}

.cardsitem-container:hover {
  transform: scale(1.02);
}