.set-container {
    width: 40vw;
    display: flex;
}

/* ---------------------------------------------------------------------------- */
.set-items,
.set-items-icons {
    margin-left: 0.5vw;
    margin-right: 0.5vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.set-items-icons {
    font-size: 2vw;

    background: none;
    border: none;
    outline: none;

    cursor: pointer;
}

/* ---------------------------------------------------------------------------- */
.set-items-slider {
    width: 2.5vw;
    height: 2.5vh;
    margin-left: 0.5vw;
    /* 왼쪽 마진 값 설정 */

    background: var(--orangelight);

    border-radius: 3vw;
    -webkit-appearance: none;
}

.set-items-slider::-webkit-slider-thumb {
    width: 2.5vh;
    height: 2.5vh;

    background: var(--orange);
    border-radius: 50vw;

    -webkit-appearance: none;
    appearance: none;
}