
/* ---------------------------------------------------------------------------- */
.search-items-input {
    height: 2.5vw;
    width: 35vw;

    padding-left: 3vw;
    padding-right: 3vw;

    border: none;
    outline: none;
    border-radius: 1.5vw;

    padding-left: 3vw;
    padding-right: 3vw;

    background-color: var(--orangelight);

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-items-input::placeholder {
    color: var(--orange);
}