.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* 수직 중간 정렬 */
}

.search-input {
    height: 2.5vw;
    width: 35vw;

    border: none;
    /* 테두리 제거 */
    outline: none;
    /* 입력할 때 나타나는 테두리 제거 */
    border-radius: 1.5vw;

    padding-left: 3vw;
    padding-right: 3vw;
    /* 왼쪽 패딩 추가 */

    background-color: var(--orangelight);

    display: flex;
    align-items: center;
    justify-content: center;
    /* 수직 중간 정렬 */
}

.search-input::placeholder {
    color: var(--orange);
}