.btn {
  padding: 1vh 1.5vw;;

  background-color: transparent;

  border: 0.1vw solid var(--black);
  border-radius: 0.3vw;

  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  color: var(--orange);
  border-color: var(--orange);
}
